html,body{
    height:100%;
}
/*** Header ****/
header{
    background-color:#cecece;    
    background-size:cover;
    min-height:100%;
    width:100%;
    position: relative;
}
/*** Menu ****/
header .navbar{
    float:right;
    margin-top:30px;
}

header .navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: fixed;
    right: 0;
}

header .menuontop{
    background:transparent;
    z-index:10000;    
}
header .menuontop #logo{
    display:none;
}
header .menuonbottom{
    background:rgba(230,230,230,.8);
    top:-30px;
    width:100%;
    z-index:10000;
    border-radius: 0px;
    transition: 0.9s ease-in-out;
}

header .menuonbottom #logo{
    display:block;
}

header .navbar-default .navbar-nav > li > a {
    color: black;
    font-weight:bold;
}

header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #e65357;
}

header .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #e65357;
}
/**** Fin Menu ****/
/*** Socials ****/
header .social{
    bottom: 30px;
    padding-right: 70px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%; 
}

.social .fa{
    background: #e65357;
    border-radius: 100%;
    color: white;
    padding: 10px;
}
header .social .fa:hover{
    background: red;
}
/** End Socials */
/**** Fin header ****/
/*** Empresa ****/
section{
    min-height:150px;
   padding-bottom: 30px;
}
section h1{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-bottom:40px;
    padding-top:30px;
}
section.gris{
    background:#666666;
    color:white;
}
section.gris h1 span {
    border-bottom: 3px solid #e65357;
    padding: 10px 110px;
}

section.rojo{
    background:#e65357;
    color:white;
}

section.rojo h1 span {
    border-bottom: 3px solid #373535;
    padding: 10px 110px;
}

section.blanco{
    background:white;
    color:#848484;
}

section.blanco h1 span {
    border-bottom: 3px solid #373535;
    padding: 10px 110px;
    color:#e65357;
}
/*** Fin empresa ***/
#skills h2{
    font-size:60px;
}

/*** Plugins ****/
.banner{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0;
    transition: 2s ease-in-out;
}
.banner.active{
    opacity:1;
    transition: 2s ease-in-out;
}

.cliente  div{
    border:5px solid red;;
}
.ciiente:hover  div{
    border:15px solid white;
}

.title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    min-height:53px;
}

.copyright{
    text-align:center;
}